

*.class
reservation-service/.classpath
reservation-service/.project
*.prefs
*.MF
reservation-service/target/classes/META-INF/maven/com.revature/reservation-service/pom.properties
reservation-service/target/classes/application.properties
.project
/.metadata/
.project
message.txt
